*{
    padding: 0;
    margin: 0;
}

body {
    background-image: url('./data/imgs/1pantalla.jpg');
<<<<<<< HEAD
    justify-content: center;
    min-width: 100vw;
    max-height: 100vh;
=======
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #66999;
  
>>>>>>> 479484df5a6f139f0281846cdcac361c5a54b8bd
  }

  .mainScreen {
      
  }

.leagueOfLegends {
    order:0;
    align-self:auto;
    height:auto;
    display:flex;
    justify-content:center;
    align-items:unset;
    align-content:center;
}

.typesOfChampions {
    order: 1;
    display: flex;
    justify-content:center;
    align-content:center;
}

h2 {
    justify-content: center;
    font-family: Friz Quadrata;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 45px;
    text-align: center;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px #000000;
}


#championsCategory {
    order: 3;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:unset;
    align-content:center;
    height:100vh;
}    


.marginChampions{
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid #ffffff;
    border-radius: 3px; 
    width: 180px;
    height: 520px;
}

#championList {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    align-content:center;
    margin: auto;
    width: 400px;
    height: 200px
}

#championsByCategory {
    display: flex;
}